# Contract details
CONTRACT_ADDRESS="YOUR_DEPLOYED_CONTRACT_ADDRESS"
RPC_URL="http://127.0.0.1:8545"

# The private key of the relayer (admin) who deployed the contract
ADMIN_PRIVATE_KEY="YOUR_ADMIN_PRIVATE_KEY"

# JWT Auth Secret
JWT_SECRET="development_secret_key"
PORT=5000
